
<div class="booyah-box col-xs-10 col-xs-offset-1">
	<div class="row">
	<h1 class="hello text-center">Do you want to publish this event?</h1>
		<button>
			<%= link_to 'Publish Me', users_path, id: 'cool-button' %>
		</button>
	</div>
</div>
